.crumbs#crumbs
    .adapt_btn
        // 筛选按钮
        a#adapt_button(href="#") 筛选
    ul
        li
            a(href="javascript:;")
                span 首页
        li
            a(href="javascript:;") 分类浏览
        li
            a(href="javascript:;") 分类列表
