include _head
.footer#footer
    .box.box_01
        a(href="javascript:;") 登录
        a(href="javascript:;") 注册
        a(href="#header") 返回顶部
    .box.box_02
        a(href="javascript:;") 电脑版
    .box.box_03
        p &copy;2012 m.xiaomi.com
