include _head
.header#header
    h1.logo
        a(href="javascript:;")
            img(src="images/logo_m.png#{r}")
    .nav
        ul
            li.user
                a(href="javascript:;") 账号
            li.category
                a(href="javascript:;") 分类
            li.cart
                a(href="javascript:;") 购物车
                span#ShoppingCartNum 2
