include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title crumbs 面包屑
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
        style
            h3{ background: #F60; color: #FFF; }
    body
        h3 .crumbs 面包屑
        .xm_app
            .viewport
                .crumbs#crumbs
                    ul
                        li
                            a(href="javascript:;") 首页
                        li
                            a(href="javascript:;") 分类浏览
                        li
                            a(href="javascript:;") 分类列表
