include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title footer 底部
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
        style
            h3{ background: #F60; color: #FFF; }
    body
        h3 .footer 底部
        br
        .xm_app
            .viewport
                .footer#footer
                    .box.box_01
                        a(href="javascript:;") 登录
                        a(href="javascript:;") 注册
                        a(href="#header") 返回顶部
                    .box.box_02
                        a(href="javascript:;") 电脑版
                    .box.box_03
                        p &copy;2012 m.xiaomi.com
