include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title header 顶底
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
        style
            h3{ background: #F60; color: #FFF; }
    body
        h3 .header 顶底
        .xm_app
            .viewport
                .header#header
                    h1.logo
                        a(href="javascript:;")
                            img(src="images/logo.png#{r}")
                    .nav
                        ul
                            li.user
                                a(href="javascript:;") 账号
                            li.category
                                a(href="javascript:;") 分类
                            li.cart
                                a(href="javascript:;") 购物车
