include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title order_express 物流查询 商品相关/order
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
    body
        .xm_app
            .viewport
                include _header
                .order_express.mlr20
                    .express_trace
                        .list_nav
                            ul
                                li
                                    .items
                                        .track
                                            h3 您的订单已送达成功
                                            p 2012/12/25 12:41:34
                                li
                                    .items
                                        .track
                                            h3 您的订单已分配给配送员吉林中通送出。联系电话：13804316538
                                            p 2012/12/25 12:41:34
                                li
                                    .items
                                        .track
                                            h3 您的订单已到达长春中通,正在进行订单分拣。联系电话：13804316538
                                            p 2012/12/25 12:41:34
                                li
                                    .items
                                        .track
                                            h3 您的订单已从华北城际运输发出，正在发往长春中通
                                            p 2012/12/25 12:41:34
                                li
                                    .items
                                        .track
                                            h3 您的订单已从北京分拣中心出库，正在发往长春中通途中
                                            p 2012/12/25 12:41:34
                                li
                                    .items
                                        .track
                                            h3 您的订单已到达如风达快递有限公司北京分拣中心，正在进行分拣
                                            p 2012/12/25 12:41:34
                                li
                                    .items
                                        .track
                                            h3 您的订单已经发往如风达。
                                            p 2012/12/25 12:41:34
                include _footer
