include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title order_submit 确认提交订单
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
    body
        .xm_app
            .viewport.has_bottom_panel
                include _header
                .order_submit.mlr20
                    .box.box_01
                        .list_nav.list_nav_tmp
                            ul
                                li
                                    .items
                                        a.lnk(href="ui_form.html?dasljflasjdf")
                                            span.name 使用优惠劵
                    .box.box_02.mt20.mb20
                        .list_order_tmp.list_nav
                            ul
                                li
                                    .items.h_box.gift
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/images/c/1468_1_1351516045_3.jpg")
                                        .info
                                            p.name AKG K420折叠式头戴动圈耳机
                                            .order_items
                                                .price_info
                                                    span.sale_price 售价：&yen; 98
                                                    span.num 数量：1
                                                    span.subtotal 小计：&yen; 99
                                li
                                    .items.h_box.kill
                                        .imgurl
                                        .info
                                            p.name AKG K420折叠式头戴动圈耳机
                                            .order_items
                                                .price_info
                                                    span.sale_price 售价：&yen; 98
                                                    span.num 数量：1
                                                    span.subtotal 小计：&yen; 99
                                li
                                    .items.h_box.award
                                        .imgurl
                                        .info
                                            p.name AKG K420折叠式头戴动圈耳机
                                            .order_items
                                                .price_info
                                                    span.sale_price 售价：&yen; 98
                                                    span.num 数量：1
                                                    span.subtotal 小计：&yen; 99
                                li
                                    .items.h_box.coupon
                                        .imgurl
                                        .info
                                            p.name AKG K420折叠式头戴动圈耳机
                                            .order_items
                                                .price_info
                                                    span.sale_price 售价：&yen; 98
                                                    span.num 数量：1
                                                    span.subtotal 小计：&yen; 99
                    .bottom_panel
                        .settle_panel
                            .goods_amount
                                .price
                                    span 总金额:
                                    strong &yen;299
                            .settle_btn
                                a.button.active_button(href="ad_list.html") 提交订单
                include _footer
