include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title Product-category 商品相关/product 通过分类ID获得产品列表
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
    body
        .xm_app
            .viewport
                include _header
                include _crumbs
                .product_category.mt-20
                    .list_category.list_column.list_tmp
                        ul
                            li
                                .category.items
                                    a(href="product-list2.html?v123123lkjhfds")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/-1.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/16.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/33.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/28.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/25.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="product-list2.html")
                                        .imgurl
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/24.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/20.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/19.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/15.jpg")
                                        p.name 耳机与音响
                            li
                                .category.items
                                    a(href="javascript:;")
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/m/app/images/category/20130114/10.jpg")
                                        p.name 耳机与音响
                include _footer
