include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title receive_tips02.html 预约领取F码提示
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/receive.css#{r}")
    body
        .xm_app
            .viewport
                include _header2
                .tips_view.mitu_02
                    .tips_msg
                        h3.oc 抱歉，无法发送短信
                        p
                            | 系统已经给您的手机上发送过5次F码短信，
                            br
                            | 如您长时间仍没有收到，请联系客服。
