include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title repair_list 维修单列表
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
    body
        .xm_app
            .viewport
                include _header
                include _crumbs
                .repair_list.mlr20.mt-20
                    .box
                        .list_order_tmp.list_nav
                            ul
                                li
                                    .order.items
                                        a.lnk(href="javascript:;")
                                            .imgurl
                                                img(src="http://p.www.xiaomi.com/images/1/1493_1_1351333878_3.jpg")
                                            .order_info
                                                dl
                                                    dt.order_id 1121115043579308
                                                    dd.add_time 时间：2013-01-29 21:06:55
                                                    dd.cat_name 商品：后盖
                                                    dd.service_status 状态：已寄回
                                li
                                    .order.items
                                        a.lnk(href="javascript:;")
                                            .imgurl
                                                img(src="http://p.www.xiaomi.com/images/1/1493_1_1351333878_3.jpg")
                                            .order_info
                                                dl
                                                    dt.order_id 1121115043579308
                                                    dd.add_time 时间：2013-01-29 21:06:55
                                                    dd.cat_name 商品：后盖
                                                    dd.service_status 状态：已寄回
                                li
                                    .order.items
                                        a.lnk(href="javascript:;")
                                            .imgurl
                                                img(src="http://p.www.xiaomi.com/images/1/1493_1_1351333878_3.jpg")
                                            .order_info
                                                dl
                                                    dt.order_id 1121115043579308
                                                    dd.add_time 时间：2013-01-29 21:06:55
                                                    dd.cat_name 商品：后盖
                                                    dd.service_status 状态：已寄回
                include _footer
