include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title style_panel 样式选择弹框
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
        script(src="http://p.www.xiaomi.com/m/oapp/js/jquery.min.js?v20121018")
        style
            h3{ background: #F60; color: #FFF; margin:  20px }
            // .imgurl img{ width: 80px; height: 80px; }
        script
            function a(){
                var a = document.getElementsByClassName('mask');
                var b = document.getElementsByClassName('style_panel');
                a[0].style.display = 'none';
                b[0].style.display = 'none';
                window.history.back();
            }
            $(function(){
                var rdb = $('#radio_group_01').find('.radio');
                rdb.click(function(){
                    rdb.removeClass('selected');
                    $(this).addClass('selected');
                    setTimeout('a()',200);
                });
            });
    body.has_bottom_panel

        .mask
        .style_panel
            .radio_02#radio_group_01
                .list_nav
                    ul
                        li
                            .radio(data-type="radio", data-value="01", data-name="a")
                                label
                                    .radio_hbox
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/images/f/1313_1_1344938702_3.jpg")
                                        .name
                                            p 玫红色
                        li
                            .radio(data-type="radio", data-value="01", data-name="a")
                                label
                                    .radio_hbox
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/images/f/1313_1_1344938702_3.jpg")
                                        .name
                                            p 紫色
                        li
                            .radio.selected(data-type="radio", data-value="01", data-name="a")
                                label
                                    .radio_hbox
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/images/f/1313_1_1344938702_3.jpg")
                                        .name
                                            p 绿色
                        li
                            .radio(data-type="radio", data-value="01", data-name="a")
                                label
                                    .radio_hbox
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/images/f/1313_1_1344938702_3.jpg")
                                        .name
                                            p 蓝色
                        li
                            .radio(data-type="radio", data-value="01", data-name="a")
                                label
                                    .radio_hbox
                                        .imgurl
                                            img(src="http://p.www.xiaomi.com/images/f/1313_1_1344938702_3.jpg")
                                        .name
                                            p 橙色
